<!-- views/partials/header.ejs -->

<div class="topnav">
  <img src="../../images/logo_white_ma8l4a.png" id="navbarLogo"/>
  <a href="/">Logout</a>
  <a href="/admin">Admin</a>
  <a href="/account">Account</a>
  <a href="/filter">Home</a>
</div>
