<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/Navbar.css">
    <link rel="stylesheet" type="text/css" href="/styles/admin.css">
    <script type="text/javascript" src = "/scripts/changeTab.js" ></script>
    <title>Account Page</title>
  </head>
  <body id="accountBody">
    <% include ../partials/navbar %>

    <content class = "mainContent">

      <div id "divider"></div>

      <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'RemoveUser')">Change Password</button>
        <!-- <button class="tablinks" onclick="openTab(event, 'RemoveUser')">Password</button> -->
        <!-- Not needed at the moment -->
        <!-- <button class="tablinks" onclick="openTab(event, 'UpdateRights')">Update Rights</button> -->
      </div>

      <div id="RemoveUser" class="tabcontent">
        <form action="/changepassword" method = "POST" id="passwordChange">

          <h3>Change Password</h3>
          <h5>Complete teh form to change your accounts password</h5>
          <input type='text' name='password' placeholder='New Password'><br>
          <input type='text' name='confirmedPassword' placeholder='Confirm New Password'>
          <input type='submit' value="Change Password">
        </form>
      </div>

      </div>

      <script>document.getElementById("defaultOpen").click();</script>

    </content>

  </body>
</html>
