<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" name="viewport">
  <link rel="stylesheet" type="text/css" href="/styles/filter.css">
  <link rel="stylesheet" type="text/css" href="/styles/Navbar.css">
  <script type = "text/javascript" src = "../../filter.js"></script>
  <script type = "text/javascript" src = "../../navbar.js"></script>
  <script type = "text/javascript" src="../../sorttable.js"></script>
</head>

<body onload="open()" id="bodyCSS">
  <% include ../partials/navbar %>
  <content class = "mainBody">

  <div id = "filterAccordion">
    <button class="accordion" id = "activeButton">Filter</button>
    <div class="panel" id = "activePanel">
      <form class = "filterForm">
        <input id = "filter_search" onkeyup="searchDatabase()" type="text" name="search" placeholder="Search..">
      </form>

      <form class = "filterForm">

      </form>
    </div>

    <button class="accordion" >Issue</button>
    <div class="panel">
      <form class = "filterForm">
        <input id = "issue_id" type = "text" name = "id" placeholder = "Key ID">
        <div class = "inline">
          <input id = "issue_issueTo" class = "inline" type = "text" name = "issueTo" placeholder = "Issue To...">
          <input type="submit" value="Issue" class = "inline">
        </div>
      </form>
    </div>

    <button class="accordion">Return</button>
    <div class="panel">
      <form class = "filterForm">
        <input id = "return_id" type = "text" name = "id" placeholder = "Key ID">
        <div class = "inline">
          <input id = "return_issuedTo" type = "text" name = "issuedTo" placeholder = "Issued To...">
          <input type="submit" value="Return">
        </div>
      </form>
    </div>

    <button class="accordion">Add</button>
    <div class="panel">
      <form class = "filterForm">
        <input id = "add_id" type = "text" name = "id" placeholder = "Key ID">
        <input id = "add_room" type = "text" name = "room" placeholder = "Lock Location">
        <div class = "inline">
          <input id = "add_type" type = "text" name = "type" placeholder = "Type">
          <input type="submit" value="Add">
        </div>
      </form>
    </div>

    <button class="accordion">Remove</button>
    <div class="panel">
      <form class = "filterForm">
        <input id = "remove_id" type = "text" name = "id" placeholder = "Key ID">
        <div class = "inline">
          <input id = "remove_copies" type = "text" name = "room" placeholder = "No. To Remove">
          <input type="submit" value="Remove">
        </div>
      </form>
    </div>
  </div>
<!-- Database Table -->
  <table  id = "keyDatabase" class = "sortable">
    <thead>
    <tr>
      <th id = "tableID">Key ID</th>
      <th id = "tableType">Key Type</th>
      <th id = "tableAllocated">Allocated To</th>
      <th id = "tableStorage">Storage</th>
      <th id = "tableNumber">No. of Available Keys</th>
    </tr>
    <thead>
    <tbody>
    <tr>
      <td>k45</td>
      <td>Master</td>
      <td>Bartek</td>
      <td>cabinet</td>
      <td>3</td>
    </tr>

    <tr>
      <td>k212</td>
      <td>normal</td>
      <td>Mr. Person</td>
      <td>cabinet</td>
      <td>3</td>
    </tr>

    <tr>
      <td>k627364</td>
      <td>Master</td>
      <td>John</td>
      <td>key locker</td>
      <td>1</td>
    </tr>

    <tr>
      <td>k324</td>
      <td>super master</td>
      <td>Hagrid</td>
      <td>key safe</td>
      <td>1</td>
    </tr>

    <tr>
      <td>k666</td>
      <td>normal</td>
      <td>Luci</td>
      <td>cabinet 66</td>
      <td>1</td>
    </tr>

    <tr>
      <td>k75</td>
      <td>master</td>
      <td>unassigned</td>
      <td>cabinet 65</td>
      <td>2</td>
    </tr>
  </tbody>
  </table>

</content>

</body>

</html>
