<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../login/login.css">
  <link rel="stylesheet" type="text/css" href="styles/Navbar.css">
  <script type = "text/javascript" src = "../../navbar.js"></script>
</head>
<body>
  <div class="topnav">
    <img src="../images/logo_white_ma8l4a.png" id="navbarLogo"></img>
  </div>
<div class="login-page">
  <div class="main-form">
<div class="title">
    <img class="imageformat" src="../images/logo_white_ma8l4a.png" alt="Key-per logo">
    <h1 class="textformat">KEY-PER</h1>
  </div>
    <form class="positioning" action="../filter.html">
    <input type="text" placeholder="Username"/>
    <input type="password" placeholder="Password"/>
    <button type="submit" name="Login" id="loginButton">Login</button>
  </form>
  </div>
</div>
</body>
</html>
