/* Style the buttons that are used to open and close the accordion panel */

#filterAccordion{
  width:600px;
  height: auto;
  box-shadow: 0px 5px 11px #bfbfbf;
}
.accordion {
    background-color:  #007399;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.6s;
    box-shadow: 0px 5px 11px  #bfbfbf;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #0086b3;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    /* padding: 0px 18px; */
    background-color: white;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* ===================================Form style================================*/

.inline{
  display: flex;
  flex-flow: nowrap;
}

.inline input[type=text]{
  width:75%;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    transition: all 0.2s;
}

input[type=submit]{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-size: 12px;
    transition: all 0.2s;
    width: 25%;
}

input[type=submit]:hover {
  box-shadow: 0px 5px 10px  #bfbfbf;
}

.filterForm{
  padding: 15px;
}

/* ===========================Table=========================================  */

.mainBody{
  display: flex;
  flex-flow: nowrap;
  margin-left: 20px;
  margin-right: 20px;
}

#keyDatabase{
  width:100%;
  height: 800px;
  overflow-y: scroll;
  box-shadow: 0px 5px 11px  #bfbfbf;
  margin-left:20px;
  font-family: sans-serif;
  border-collapse: collapse;
  text-align: left;
  font-size: 13px;
}

#keyDatabase td, #keyDatabase th{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#keyDatabase th{
  background-color: #b3b3b3;
  color: white;
  padding: 18px;
}

#keyDatabase tr:nth-child(even){
  background-color: #f2f2f2;
}

#keyDatabase tr:hover{
  background-color: #ddd;
}

/*===============================BODY CSS===================*/
#bodyCSS {
  margin: 0px;
}
